@page
@model TetragricUI.Pages.InsuranceModel
@{
    ViewData["Title"] = "Insurance Claim Sign up";
}
<h2>Weather Index Insurance</h2>
<p>Submit your farm location to simulate payout triggers using real-time weather data.</p>

<form method="post">
    <label for="farmLocation">Farm Location:</label>
    <br/>
    <input type="text" name="farmLocation" id="farmLocation" required />
    <br/>
    <label for="farmLocation">Wallet id:</label>
    <br/>
    <input type="text" name="walletidname" id="walletidid" required />
    <br/>
    <br/>
    <label for="cropType">Crop Type:</label>
    <select name="cropType" id="cropType" required>
        <option value="">--Select Crop--</option>
        <option value="Arabica">Arabica</option>
        <option value="Robusta">Robusta</option>
        <option value="Liberica">Liberica</option>
        <option value="Excelsa">Excelsa</option>
    </select>
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">Submit Farm ID</button>
</form>

<form>
    <input type="text" name="emtracksubscptn" id="emtracksubscptn" placeholder="Your email" required />
    <button type="submit" class="btn btn-primary">📩 Subscribe for Emission Tracking Reviews</button>
</form>

<form method="post">
    <p>Prefer SMS text notifications?  </p>
    <input type="text" name="userphonenumber" id="userphonenumberid" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
@if (Model.StatusMessage != null)
{
    <div class="alert alert-info mt-3">@Model.StatusMessage</div>
}
